# Virtual Environments
venv*/

# dotenv
.flaskenv
.env

# Migrations
migrations/

# Backup files
.#*

# Byte-compiled / optimized DLL files
__pycache__/
*.py[cod]
*$py.class
.cache
/DS_store
# C extensions
*.so

# Packages
.Python
*.egg
*.egg-info
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
.pytest_cache

# si
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build
README.html

# Cookiecutter
output/

myflaskapp/
bower_components

# PyCharm
.idea/
.DS_Store

.webassets-cache

# npm
/node_modules

# sqlite
.sqlite
*.db
